* {
    font-family: "Salted mocha", cursive;
    font-size: 50px;
    font-weight: 900;
    color: #0f0e47
}
body {
    background-color: #8686ac;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    gap: 150px
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.options {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    border: 10px solid #272757;
    gap: 30px;
    min-width: min-content;
    padding: 15px;
    border-radius: 5px;
}

.option-buttons {
    background-color: #505081;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 30px;
    flex-grow: 1;
    transition: transform 0.275s ease-in-out;
}

.option-buttons:hover {
    background-color: white;
    border: 3px solid #505081;
    border-radius: 5px;
    font-size: 30px;
    flex-grow: 1;
    transform: scale(1.15);
}

.gridSize {
    background-color: #505081;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
    margin: -10px 0px;
    padding: 0px 5px;
}

.gridPicker {
    margin: 0 auto;
}

.colorPicker {
    width: 130px;
    height: 130px;
    margin-bottom: -40px;
    border-radius: 5px;
    margin: 0 auto;
}

.canvas {
    display: flex;
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    flex-wrap: wrap;
    border: 15px solid #272757;
    border-radius: 5px;

}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.activeButton {
    background-color: white;
}
